.home {
  background-color: aqua;
  padding: 20px;
  
}

.home h1 {
  color: red;
}

.home .section-2 {
  display: flex;
  justify-content: right;
  align-items: center;
}

.photo {
  height: 100vh;
}