.header {
  
  border-bottom: 1px solid rgb(219, 25, 7);
  
}

.header .menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.hearder  .menu-item {
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 4px;
  
}

.header .header-actions {
  display: flex;
  align-items: center;
  background-color: white;
  
  
  
}

.menu {
  background-color: rgb(26, 64, 78);
  color: red;
  align-items: center;
  
}

ul .menu {
  flex-direction: row ;
}

.header-container {
  background-color: white;
}